.content {
  flex: 1;
  background-color: var(--color-green);
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.main h2 {
  padding-left: 1rem;
  color: var(--color-gold);
  font-size: 2.5rem;
}
